.copy {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    top: 10px;
    right: 10px;

    .copyBtn {
        cursor: pointer;
    }

    .btnDown {
        opacity: 0.5;
    }
}

.toast {
    z-index: 9999;

    :global(.Toastify__toast--success) {
        background-color: #52c41a;
    }
}